* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_font: "Inter", sans-serif;
    --background: #1A0B2E;
    --border: #412567;
    --textColor: #ffffff;
    --primary_gradient: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

/* common class */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.primary_btn {
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(28.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-size: 300%;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    outline: none;
    /* background-position: 120%; */
    animation: btnAnimation 5s linear infinite;
    position: relative;
}

.primary_btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1A0B2E;
    opacity: 0.3;
    height: 0;
    border-radius: 10000px;
    transition: all .2s ease-in-out;
}

.primary_btn:hover::after {
    height: 100%;
}

/* btn animation */
@keyframes btnAnimation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

/* end  common class*/
html {
    font-size: 10px;
}

body {
    background: var(--background);
    font-family: var(--primary_font);
    width: 100%;
    color: var(--textColor);
}

/*====================================== navigation section ====================================*/
.pageHeader {
    padding: 16px 0;
    border-bottom: 1px solid #2A186C;
}

.main_navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 1.6rem;
}

.navigation_list .navigation_item {
    list-style: none;
}

.navigation_list .navigation_item .navigation_link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    display: block;
    padding: 0 8px;
    transition: .2s ease-in-out;
    opacity: 0.9;
}

.navigation_list .navigation_item .navigation_link:hover {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* ========================================= hero section ===================================== */
.hero {
    width: 100%;
    height: 760px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_logo {
    width: 350px;
    height: 350px;
    background: var(--primary_gradient);
    border-radius: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 8px solid #2A186C;
}

.hero_logo_badge {
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: #00FF88;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 26px;
    top: 18px;
    font-size: 1.8rem;
    font-weight: 500;
}

.hero_title {
    font-size: 6rem;
    font-weight: 800;
}

.hero_description {
    font-size: 1.6rem;
    opacity: 0.8;
}

.hero_buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-hero {
    padding: 12px 20px;
}

.hero_btn2 {
    padding: 12px 20px;
    border-radius: 10000px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all .2s ease-in-out;
    span {
        display: flex;
        align-items: center;
    }
    &:hover {
        background-color: #00FF88;
        color: rgb(0, 0, 0);
        svg path {
            fill: rgb(0, 0, 0);
        }
    }
}

.hero_description {
    padding: 24px 0;
}