* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_font: "Inter", sans-serif;
    --background: #1A0B2E;
    --border: #412567;
    --textColor: #ffffff;
    --primary_gradient: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

/* common class */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.primary_btn {
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(28.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-size: 300%;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    outline: none;
    /* background-position: 120%; */
    animation: btnAnimation 5s linear infinite;
    position: relative;
}

.primary_btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1A0B2E;
    opacity: 0.3;
    height: 0;
    border-radius: 10000px;
    transition: all .2s ease-in-out;
}

.primary_btn:hover::after {
    height: 100%;
}

/* btn animation */
@keyframes btnAnimation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.mobileElement {
    display: none;
}

/* end  common class*/
html {
    font-size: 10px;
}

body {
    background: var(--background);
    font-family: var(--primary_font);
    width: 100%;
    color: var(--textColor);
}

/*====================================== navigation section ====================================*/
.pageHeader {
    padding: 16px 0;
    border-bottom: 1px solid #2A186C;
}

.main_navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 1.6rem;
}

.navigation_list .navigation_item {
    list-style: none;
}

.navigation_list .navigation_item .navigation_link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    display: block;
    padding: 0 8px;
    transition: .2s ease-in-out;
    opacity: 0.9;
}

.navigation_list .navigation_item .navigation_link:hover {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* ========================================= hero section ===================================== */
.hero {
    width: 100%;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.hero_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_logo {
    width: 350px;
    /* height: 50vw; */
    height: 350px;
    background-image: url("./assets/microphone.png"), var(--primary_gradient);
    background-size: 32%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 8px solid #2A186C;
   
}


/* end */

.hero_logo_badge {
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: #00FF88;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 26px;
    top: 18px;
    font-size: 1.8rem;
    font-weight: 500;
}

.hero_title {
    font-size: 6rem;
    padding: 30px 0 0 0;
    font-weight: 800;
}

.hero_description {
    font-size: 1.6rem;
    opacity: 0.8;
}

.hero_buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-hero {
    padding: 12px 20px;
}

.hero_btn2 {
    padding: 12px 20px;
    border-radius: 10000px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all .2s ease-in-out;

    span {
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: #00FF88;
        color: rgb(0, 0, 0);

        svg path {
            fill: rgb(0, 0, 0);
        }
    }
}

.hero_description {
    padding: 6px 0 29px 0;
}

/* ============================================= about section ==================================== */
.about_section {
    text-align: center;
}

.about_section h1 {
    padding-top: 50px;
    font-size: 4.8rem;
}

.about_section p {
    font-size: 1.6rem;
    line-height: 30px;
    opacity: 0.8;
    padding: 20px 0;
    max-width: 800px;
    margin: 0 auto;
}

.ourScores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.score_box {
    text-align: center;
}

.score_Unit {
    color: #00FF88;
}

#score_name {
    padding: 0;
}

/* ======================================= why choose section ======================================= */
.section_heading {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    padding: 50px 0 40px 0;
}

.why_choose_section {
    width: 100%;
    background-color: rgba(35, 14, 61, 1);
    padding: 0 0 100px 0;
}

.why_chose_description_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.wc_description {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    align-items: center;
}

.wc_description h2 {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 16px 0;
}

.wc_description .wcd_wrapper p {
    font-size: 1.6rem;
    opacity: 0.8;
}

.wc_description:nth-child(1) {
    grid-row: span 2;
}

.wc_description:nth-child(2),
.wc_description:nth-child(3) {
    grid-column: span 2;
}

.wc_description:nth-child(4) {
    grid-column: span 2;
}

/* ================================================== Featured section ===================================*/
.f_cards_container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.f_card {
    max-width: 370px;
    width: 100%;
    background-color: #250D44;
    border-radius: 16px;
}

.wrap_video_details {
    width: 100%;
    height: max-content;
    padding: 0 24px;
}

.video_thumbnail {
    width: 100%;
    height: 214px;
    background-color: #5f5f5f;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.video_thumbnail iframe{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.video_title {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--textColor);
    padding: 24px 0;
}

.video_description {
    font-size: 1.6rem;
    opacity: 0.8;
    color: var(--textColor);
}

.v_duration {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.v_duration strong {
    color: #00FF88;
    font-size: 1.6rem;
}

/*====================================== host card section =============================================*/
.hostcard {
    background: rgba(53, 17, 101, 0.4);
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 24px;
    border-radius: 40px;
}

.hostcard .hostName {
    font-size: 3.2rem;
    font-weight: 600;
}

.host_details {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.8;
    padding: 16px 0;
}

.hostLinks {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconContainer {
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: #533C72;
    }
}

/* ========================================= footer section ======================================= */
footer {
    min-height: 252px;
    width: 100%;
    background: url("./assets/footer-bg.png");
    background-size: 100% 100%;
    background-position: center;
    margin-top: 100px;
}

.footer_logo {
    padding: 35px 0;
}

.footer_links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_link_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    opacity: 0.8;
    text-decoration: none;
    color: var(--textColor);
}

.copyRightText {
    font-size: 1.6rem;
    opacity: 0.8;
    text-align: center;
    padding: 32px 0;
}



/*============================== for medium device of tablet device ===================================*/

@media screen and (min-width:576px) and (max-width:992px) {

    /* tablet device */
    .main_navigation {
        padding: 0 30px;
    }

    /* ========================================== about section ==========================================*/
    .about_wrapper {
        padding: 0 30px;
    }

    /* ======================================== choose tech wave section =================== */
    .why_chose_description_container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }

    .wc_description:nth-child(1) {
        grid-row: span 1;
    }

    .wc_description:nth-child(2),
    .wc_description:nth-child(3) {
        grid-column: span 1;
    }

    .wc_description:nth-child(4) {
        grid-column: span 1;
    }

    .wc_description:nth-child(5) {
        grid-column: span 2;
    }

    /* ========================================= videos section =========================================*/
    .f_cards_container {
        flex-direction: column;
        align-items: center;
    }

    /*============================================== host =======================================*/
    .meet_the_host_Section {
        padding: 0 20px;
    }
}

/* ui need */
@media screen and (max-width:780px) {
    .nav_logo svg {
        width: 38vw;
    }

    .nav_button {
        display: none;
    }

    .navigation_list {
        display: none;
    }

    .mobileElement {
        display: block;
    }

    .mobile_menu {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    /* about section */
    .ourScores {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 100px;
    }

}

/* mobile device */
@media screen and (max-width:576px) {

    /* navigation */
    .main_navigation {
        padding: 0 30px;
    }

    .mobileElement {
        display: block;
    }

    /* ====================================== hero section =======================================*/
    .hero {
        margin-top: 50px;
        /* background-position-y: 30px; */
        background-position-y: 43px;
        background-size: contain;
        transform-origin: center;
    }

    .hero_title {
        margin-top: 0;
        font-size: 4.8rem;
    }

    .btn-hero {
        gap: 0;
    }

    .hero_logo {
        width: 50vw;
        height: 50vw;
        margin-top: 0;
    }

    .hero_logo_badge {
        width: 70px;
        height: 35px;
        right: -14px;
        top: -3px;
    }

    .hero_wrapper {
        padding: 0 20px;
        text-align: center;
    }

    /* ============================================== about section ====================================*/
    .about_wrapper {
        padding: 0 20px;
    }

    .about_section h1 {
        padding-top: 60;
        font-size: 3.2rem;
    }

    /*============================================= grid section ========================================*/
    .section_heading {
        font-size: 3.2rem;
        padding: 50px 10px;
    }

    .why_chose_description_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: 20px 20px;
        gap: 16px;
    }

    .wc_description:nth-child(1) {
        grid-row: span 1;
    }

    .wc_description:nth-child(2),
    .wc_description:nth-child(3) {
        grid-column: span 1;
    }

    .wc_description:nth-child(4) {
        grid-column: span 1;
    }

    .wc_description {
        padding: 20px 20px;
        border-radius: 12px;
        height: max-content;
    }

    .wc_description h2 {
        padding: 6px 0;
    }

    /* =========================================== vedios section =============================== */
    .f_cards_container {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    /*============================================ host card section ===============================*/
    .meet_the_host_Section {
        padding: 0 20px;
    }

    .hostcard {
        flex-direction: column;
        padding: 20px;
        border-radius: 24px;
    }

    .host_details {
        text-align: center;
    }

    .hostLinks {
        justify-content: center;
    }

    /* =============================================== footer section ================================ */
    footer {
        background: url("./assets/bg_footer_mobile.png");
        background-size: contain;
        background-position: center;
        padding: 0 20px;
    }

    .footer_links {
        grid-template-columns: repeat(2, auto);
    }
}